

body {
  background-color: #0a0a0a;
  margin: 0;
}


/* -------------------------------------------------------------------------- */
/* HUD */
/* -------------------------------------------------------------------------- */

#ed3dmap {
  font-family: Helvetica, Sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#threedmap {
  width: 100%;
  height: 800px;
}

#hud {
  transition: width 2s;
}
#hud,
#systemDetails {
  font-weight: normal;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: red;
  padding: 15px;
  color: #fff;
  z-index: 999;

  /*border: solid 3px rgba(255, 140, 13, 0.8);*/
  background: rgba(3, 3, 6,0.8);
  border-right: solid 1px #111;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#hud.enlarge {
  background-color: rgba(10,10,10,0.7);
  width: 90%;
  max-width: 1200px;
}

#systemDetails.popup-detail {
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border: solid 5px rgba(60,60,60,0.9);
}

#hud > div {
  margin-bottom: 20px;
  clear: both;
}
#hud h2 {
  font-weight: bold;
  color: #eee;
  font-size: 1rem;
  border-bottom: 1px solid #eee;
  margin: 0 0 5px;
  text-shadow: 1px 1px 2px rgb(0,0,0);
}
#hud p {
  margin: 0 0 3px;
}
#hud input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#hud input[type=text] {
  border: solid 1px #fff;
  padding: 4px;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
}
#hud input[type=range] {
  margin: 3px 0;
  padding: 0;
  width: 100%;
}

.check {
  display: inline-block;
  width:       14px;
  height:      14px;
  line-height: 1;
  float: right;
  text-align: center;
}
.check:after {
  content: ' ';
  display: block;
  width:       10px;
  height:      10px;
  margin: 2px;
  background: rgba(0,0,0,0.5);
}
.coords {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: solid 1px #444;
  font-family: "Courier New";
}
.coords > span {
  display: block;
  font-size: 1rem;
  float: left;
  width: 33%;
  text-align: center;
  background: rgba(30,30,30,0.5);
  padding: 5px 0;
  line-height: 100%;
  border: solid 3px #000;
  box-shadow: 2px 2px 5px #000;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.coords:after {
  content: ' ';
  display: block;
  clear: both;
}

.map_filter,
.map_link {
  display: block;
  margin: 0 0 3px;
  cursor: pointer;
}
.map_filter:hover,
.map_link:hover {
  color: #FF7207;
}

.map_filter.disabled .check {
  background: #333 !important;
}

/* Collapse map filter */

.show_childs {
  text-decoration: underline;
}

.map_filter.hidden {
  display: none;
}

.open .map_filter.hidden {
  display: inline-block;
}


#hud.enlarge #filters > div.open {
  columns: 250px;
  -moz-columns: 250px;
  -webkit-columns: 250px;
}
#hud.enlarge .map_filter {
  width: 100%;
  max-width: 250px;
  clear: both;
}


/* -------------------------------------------------------------------------- */
/* HUD system details */
/* -------------------------------------------------------------------------- */
/*#hud,
#systemDetails {
  color: #fff;
  font-size: 1rem;
  width: 25%;
  height: 100%;
  min-width: 250px;
  max-width: 350px;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}*/
#systemDetails img {
  max-width: 100%;
}

#nav {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;
  text-align: center;
}
#nav > a {
  cursor: pointer;
  display: inline-block;
  width: 22%;
  margin: 2%;
  padding: 10px;
  border: solid 1px #222;
  background: rgb(10,10,10);
  background: rgba(10,10,10,0.8);
  box-shadow: 1px 1px 3px #000;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#systemDetails > div {
  max-height: 70%;
  overflow-y: auto;
}

/* -------------------------------------------------------------------------- */
/* controls */
/* -------------------------------------------------------------------------- */
#controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  text-align: right;
}
#controls a {
  cursor: pointer;
}
#controls > a {
  display: inline-block;
  width:  26px;
  height: 26px;
  margin: 4px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #ddd;
  color: rgba(255,255,255,0.8);
  background: rgba(100,100,100,0.2);
  border: solid 1px #ddd;
  border-color: rgba(255,255,255,0.2);
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
#controls > a.selected {
  color: #fff;
  border-color: rgba(255,255,255,0.6);
}

#controls > a#tog-fullscreen {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#options {
  clear: both;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.6);
  border-color: rgba(50,50,50,0.6);
  padding: 10px 15px;
  margin: 10px 0 0;
}
#options a {
  display: block;
  text-align: left;
  margin: 7px 0;
  color: #555;
  font-size: 0.9rem;
}
#options a.active {
  color: #eee;
}
#options a:before {
  content: '-';
  display: inline-block;
  width:  16px;
  height: 16px;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  margin-right: 5px;
  border: solid 1px #555;
}
#options a.active:before {
  content: 'X';
  border-color: #eee;
}

/* -------------------------------------------------------------------------- */
/* Fullscreen */
/* -------------------------------------------------------------------------- */

.map-fullscreen {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 999 !important;
}

/* -------------------------------------------------------------------------- */
/* HUD system infos */
/* -------------------------------------------------------------------------- */
/*#infos {
    background: rgba(20, 20, 20, 0.6) none repeat scroll 0 0;
    font-size: 1rem;
    min-height: 50px;
    padding: 20px;
    position: fixed;
    left: 55%;
    top: 50%;
}*/
/*#infos {
    background: rgba(20, 20, 20, 0.8) none repeat scroll 0 0;
    font-size: 1rem;
    min-height: 50px;
    padding: 20px;
    position: fixed;
    left: 210px;
    top: 0;
    width: 10%;
    height: 100%;
}*/

/* -------------------------------------------------------------------------- */
/* SVG loader */
/* -------------------------------------------------------------------------- */

#loader {
  width: 100%;
  height: 100%;
  padding: 75px 0;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #111;
  background-color: rgba(30,30,30,0.9);
}
#loader svg {
  margin: 150px auto;
  width: 200px;
  height: 200px;
}
#loader path {
  fill: #FF8C0D;
  stroke: #000;
  stroke-width: 0;
  opacity: 0;
}
@keyframes hideshow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes inner {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.l1 {
  animation: hideshow 750ms linear infinite;
}
.l2 {
  animation: inner 750ms linear infinite;
}
.d19 {
  animation-delay: 750ms;
}
.d18 {
  animation-delay: 710.52631579ms;
}
.d17 {
  animation-delay: 671.05263158ms;
}
.d16 {
  animation-delay: 631.57894737ms;
}
.d15 {
  animation-delay: 592.10526316ms;
}
.d14 {
  animation-delay: 552.63157895ms;
}
.d13 {
  animation-delay: 513.15789474ms;
}
.d12 {
  animation-delay: 473.68421053ms;
}
.d11 {
  animation-delay: 434.21052632ms;
}
.d10 {
  animation-delay: 394.73684211ms;
}
.d9 {
  animation-delay: 355.26315789ms;
}
.d8 {
  animation-delay: 315.78947368ms;
}
.d7 {
  animation-delay: 276.31578947ms;
}
.d6 {
  animation-delay: 236.84210526ms;
}
.d5 {
  animation-delay: 197.36842105ms;
}
.d4 {
  animation-delay: 157.89473684ms;
}
.d3 {
  animation-delay: 118.42105263ms;
}
.d2 {
  animation-delay: 78.94736842ms;
}
.d1 {
  animation-delay: 39.47368421ms;
}